@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
}
header,main{
    max-width: 100%;
}
.shape{
    font-family: 'Miama', sans-serif; 
    line-height: 1;
    font-size: 120px;
    font-weight: 900;
    line-height: 120%;                                   
}  

.healthy{
    position: absolute;
    top: 318px;
    left: -7px;
}

.inter{
    max-width: 100%;
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* shared color */

.common-btn-color{
    background: rgb(230, 83, 60);
}

/* header section */


.bars{
    display: none;
}
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}


.nav-title{
    color: rgb(230, 83, 60);
}

.navbar, .intro-section{
    max-width: 80%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.navbar h2{
    margin: 57px 0px;
    font-size: 36px;
}
.navbar ul{
    display: flex;
    gap: 40px;
    padding: 7px 7px 7px 4px;
 margin: 57px 10px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
flex-direction: row;
justify-content: center;
align-items: center;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.navbar ul li{
 color: rgb(255, 255, 255);
 list-style: none;

 font-size: 18px;
font-weight: 400;
 
}
.btn-color{
    border-radius: 46px;
    width: 1.875rem;
    height: 1.312rem;
    padding: 8px 20px 8px 20px;
   

}

.intro-section{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.intro-title h1{
    width: 32.5rem;
height: 17.625rem;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 81px;
font-weight: 900;
}

.intro-title{
    margin-top: 125px;
    width: 37.44rem;
    height: 30.625rem;
    
  
}
.intro-title p{
    width: 32.5rem;
height: 3rem;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
margin-top: 35px;
margin-bottom: 20px;

}

.btn-style{
    margin: 28px 12px 28px 0px;
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
border: none;
}

.download-btn{
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
}

.body-builder-image{
    width: 28.125rem;
    height: 43.125rem;
}

.intro-image{
    position: relative;
}
.btn-1{
    position: absolute;
    width: 12.06rem;
height: 6.125rem;
left: 325px;
top: 180px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;

text-align: left;
padding-left: 15px;

}

.circle{
    display: flex;
    align-items: center;
    
}
.rounded-box{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: rgb(230, 83, 60);
   
}
.num-1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
line-height: 40px;
letter-spacing: 1px;
text-align: left;
}

.btn-2{
    position: absolute;
width: 12.875rem;
height: 6rem;
left: -95px;
top: 515px;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(9px);
background: rgba(48, 48, 48, 0.54);
color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
padding-left: 10px;

}

.num-2{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}





/* Habit section */

.habit-section{
    max-width: 80%;
    margin: 100px auto 30px;
    display: flex;
    flex-direction: column;
    
}

.habit-description{
    max-width: 80%;
    margin: 0 auto;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    
    padding: 0px;
}

.habit-paragraph{
    width: 40.625rem;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;

margin: 14px 0px 25px;
}
.habit-section-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
}

.image-container{
    display: flex;
    justify-content: space-between;
    gap: 4.375rem;
    margin: 30px 0px 50px;
}
.image1{
    margin-top: 58px;
    border-radius: 100%;
    width: 13.75rem;
    height: 13.75rem;
}

.image-content{
    width: 14.43rem;
    height: 17.125rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.image-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 10px;

}

.image-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: center;
}



/* Run section */



.run-section{
    max-width: 80%;
    margin: 0px auto 5px;
    height: 23.187rem;
     border-radius: 18px;
    background: rgb(34, 34, 34);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 35px;
     
}

.run-description{
    width: 29.375rem;
   height: 20rem;

}
.run-title{
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 65px;
    font-weight: 900;
    line-height: 120%;
    margin: 14px 0px;
    }

.run-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
}


.run-img{
    width: 490px;
     height: 330px;
     border-radius: 18px;
background: url(4);
}
    
.run-btn{
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
     background: rgb(230, 83, 60);
     margin: 34px 0px;
     border: none;

     color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
}


/* responsive design for mobile */


@media screen and (max-width:592px) {

    
    .navbar, .intro-section{
        max-width: 90%;
        margin: 0 auto;
    }

    .header{
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    }
    .navbar h2{
        margin-left: 15px;
    }
    
    .navbar ul{
        display: none;
    }
    .bars{
        display: block;
    }
     
    .intro-section{
        flex-direction: column;
        padding: 3px;
        
    }
     
    .intro-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bars{  
        display: block;
       margin: 60px;
       width: 20px;
       color: white;
       font-size: 35px;
    } 

    .intro-title h1{
        width: 285px;
        height: 129px;
        font-size: 36px;
        
        
    }
    
    .shape{

        font-size: 54px;
    }

    .intro-title p{
        width: 274px;
       height: 96px;
       height: 96px;
       margin-left: 15px;
    }

    .btn-style{
        width: 10.56rem;
        height: 3.375;
        margin-left: 15px;
    }
    
    .download-btn{
        width: 10.56rem;
        height: 3.375rem;
        box-sizing: border-box;
        padding: 16px 20px 16px 20px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 42px;
       font-size: 18px;
        
    }
    
    .club{
        display: none;
    }
    
    .body-builder-image{
        width: 22.0625rem;
        height: 36.75;
        padding: 20px;
        background: url(88);
    }

    .btn-1{
         width: 10.32rem;
         height: 5.3rem;
         left: 227.2px;
         top: 78.6px;
         font-size: 12.24px;
         backdrop-filter: blur(15.12px);
         background: rgba(255, 255, 255, 0.1);
    }

    .btn-2{
        width: 10.32rem;
        height: 4.84rem;
        left: 15px;
        top: 340px;
        margin-top: 10px;
        font-size: 15px;
    }

    .habit-section{
        max-width: 100%;
        margin-top: 10px;
    }
    .habit-description{
        width: 100%;
       height: 124px;
       display: flex;
       flex-direction: column;
        justify-content: center;
       align-items: center;
       text-align: center;
    
    }

    .habit-section-title{
        font-size: 32px;
    }


    .habit-paragraph{
        width: 316px;
        align-items: center;
        text-align: center;
        margin: 14px 0px 25px;
    }

    .image-container{
        flex-direction: column;
        align-items: center;
    }

    .run-section{
        margin: 10px auto 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 21.75rem;
        height: 33.187rem;
    }

     .run-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 54px;
        margin-left: 55px;
        
     }
   
     
     .run-description{
        flex-direction: column;
        display: flex;
        
     }
    .run-title{
        width: 17.937rem;
        height: 4.75rem;
        color: rgb(255, 255, 255);
        font-family: Inter;
       font-size: 32px;
        font-weight: 900;
        line-height: 120%;
         margin-left: 55px;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .run-paragraph{
        color: rgba(255, 255, 255, 0.5);
       font-family: Inter;
          font-size: 14px;
         font-weight: 400;
         margin-left: 55px;
         width: 287px;
          height: 96px;
         
    }

    .run-img{
        width: 21.875rem;
       height: 12.5rem;
    }

}