@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
}
header,main{
    max-width: 100%;
}
 

.inter{
    max-width: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* shared color */

.common-btn-color{
    background: rgb(230, 83, 60);
}

/* header section */


.bars{
    display: none;
}
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}


.nav-title{
    color: rgb(230, 83, 60);
}

.navbar, .intro-section{
    max-width: 80%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.navbar h2{
    margin: 57px 0px;
    font-size: 36px;
}
.navbar ul{
    display: flex;
    gap: 40px;
    padding: 7px 7px 7px 4px;
 margin: 57px 10px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
flex-direction: row;
justify-content: center;
align-items: center;
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.navbar ul li{
 color: rgb(255, 255, 255);
 list-style: none;

 font-size: 18px;
font-weight: 400;
 
}
.btn-color{
    border-radius: 46px;
    width: 1.875rem;
    height: 1.312rem;
    padding: 8px 20px 8px 20px;
   

}

.intro-section{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.intro-title h1{
    width: 32.5rem;
height: 17.625rem;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 81px;
font-weight: 900;
}

.intro-title{
    margin-top: 125px;
    max-width: 100%;
    height: 30.625rem;
  
}
.intro-title p{
    width: 32.5rem;
height: 3rem;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
margin-top: 35px;
margin-bottom: 20px;

}

.btn-style{
    margin: 28px 12px 28px 0px;
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
border: none;
}

.download-btn{
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
}

.body-builder-image{
    width: 28.125rem;
    height: 43.125rem;
}

.intro-image{
    position: relative;
}
.btn-1{
    position: absolute;
    width: 12.06rem;
height: 6.125rem;
left: 325px;
top: 180px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;

text-align: left;
padding-left: 15px;

}

.circle{
    display: flex;
    align-items: center;
    
}
.rounded-box{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background: rgb(230, 83, 60);
   
}
.num-1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
line-height: 40px;
letter-spacing: 1px;
text-align: left;
}

.btn-2{
    position: absolute;
width: 12.875rem;
height: 6rem;
left: -95px;
top: 515px;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(9px);
background: rgba(48, 48, 48, 0.54);
color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
padding-left: 10px;

}

.num-2{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}





/* Habit section */

.habit-section{
    max-width: 80%;
    margin: 100px auto 30px;
    display: flex;
    flex-direction: column;
    
}

.habit-description{
    max-width: 80%;
    margin: 0 auto;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    
    padding: 0px;
}

.habit-paragraph{
    width: 40.625rem;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;

margin: 14px 0px 25px;
}
.habit-section-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
}

.image-container{
    display: flex;
    justify-content: space-between;
    gap: 4.375rem;
    margin: 30px 0px 50px;
}
.image1{
    margin-top: 58px;
    border-radius: 100%;
    width: 13.75rem;
    height: 13.75rem;
}

.image-content{
    width: 14.43rem;
    height: 17.125rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.image-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 10px;

}

.image-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: center;
}



/* Run section */



.run-section{
    max-width: 80%;
    margin: 0px auto 5px;
    height: 23.187rem;
     border-radius: 18px;
    background: rgb(34, 34, 34);
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 35px;
     
}

.run-description{
    width: 26.7rem;
   height: 20rem;

}
.run-title{
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 65px;
    font-weight: 900;
    line-height: 120%;
    margin: 14px 0px;
    }

.run-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
}


.run-img{
    width: 490px;
     height: 330px;
     border-radius: 18px;
background: url(4);
}
    
.run-btn{
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
     background: rgb(230, 83, 60);
     margin: 34px 0px;
     border: none;

     color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
}





/* BMI Section */



.bmi-heading{

    width: 41rem;
    height: 7.5rem;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    margin: 90px auto;
    
}

.bmi-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
}

.bmi-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin-top: 15px;
}


.bmi-calculator{
    max-width: 100%;
    margin: 0px auto 5px;
    height: 30rem;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    /* margin: 88px 0px; */
    padding: 45px 10px;
}

.calculator-title{
    width: 27rem;
    height: 2.1rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 35px;
     font-weight: 900;
    line-height: 120%;
    margin: 40px 0px 75px;
}

table {
    width: 25.3rem;
    height: 13.5rem;
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: start;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
  }

  th{
    color: rgb(255, 255, 255);
  }


  .form-title{
    width: 27rem;
    height: 2.1rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 35px;
     font-weight: 900;
    line-height: 120%;
    margin-top: 35px;
    margin-left: 7px;
    margin-bottom: 20px;
  }

  .form-paragraph{
    width: 36rem;
    height: 3rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
    margin-left: 7px;
  }


  #height,#weight,#age{
    width: 17rem;
    height: 3rem;
    padding: 12px 40px 5px 20px;
    margin: 0px 5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
     line-height: 22px;
  }

  #options{
    width: 20.8rem;
    height: 4.1rem;
    padding: 12px 50px 6px 20px;
    margin: 0px 5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    
  }
  #activity{
    width: 42.5rem;
    height: 3rem;
    margin: 0px 6px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
     border: none;
     color: rgba(255, 255, 255, 0.6);
     font-family: Inter;
     font-size: 18px;
     font-weight: 400;
     line-height: 22px;
  }

  .calculate-btn{
    margin: 45px 12px 28px 5px;
    width: 14rem;
    height: 3.375rem;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    border: none;
    background-color: rgb(230, 83, 60);
  }


  
  
  /* Team image section  */
 

  .team-heading{
    width: 41rem;
    height: 7.5rem;
    margin: 58px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-title{
    width: 23rem;
    height: 3.6rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;

  }

  .team-paragraph{
    width: 41rem;
    height: 3rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;

  }


  .team-image-container{
    width: 80%;
    margin: 0 auto 25px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    padding: 20px 45px;
  
  }
  .image-content-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .image-content-2{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin: 10px;
  }

  .team-image{
    width: 22rem;
    height: 20rem;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    margin: 10px;
  }
 
  .parent{
    position: relative;
  }
  
  .child{
    position: absolute;
    top: 245px;
    left: 30px;
  }

  .parent-title{
    color: white;
    font-size: 21px;
    width: 14rem;
    font-weight: 900;
  }

  .parent-paragraph{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    width: 7rem;
    font-weight: 700;
  }


  
  
  /* Footer Section */
 .footer-section{
    max-width: 100%;
    margin: 35px auto 75px;
    height: 25.7rem;
    background: rgb(34, 34, 34);
 }

 .footer-div{
    max-width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .footer-heading{
    width: 27.9rem;
    height: 11rem;
    justify-content: center;
    align-items: center;
 }
 .footer-title{
    width: 16rem;
    height: 5.4rem;
    margin: 20px 0px;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
     font-weight: 800;
 }
.footer-paragraph{
    width: 27rem;
    height: 4.5rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
 .get-started{
    width: 13.31rem;
    height: 11.56rem;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }
 
 .started-title{
    width: 13.3rem;
    height: 3.5rem;
    margin: 20px 0px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    
 }

 .start-para{
    width: 12rem;
    height: 1.7rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
 }




/* responsive design for mobile */


@media screen and (max-width:592px) {
    
    *{
        margin: 0;
        padding: 0
    }
    
    .navbar, .intro-section{
        max-width: 90%;
        margin: 0 auto;
    }

    .header{
        max-width: 100%;
        margin: 0 auto;
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    }
    .navbar h2{
        margin-left: 15px;
    }
    
    .navbar ul{
        display: none;
    }
    .bars{
        display: block;
    }
     

    .intro-title{
        margin-top: 45px;
    }
    .intro-section{
        flex-direction: column;
        padding: 3px;
        
    }
     
    .intro-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bars{  
        display: block;
       margin: 60px;
       width: 20px;
       color: white;
       font-size: 35px;
    } 

    .intro-title h1{
        width: 285px;
        height: 129px;
        font-size: 36px;
        margin-left: 15px;
        
    }
    
    .shape{

        font-size: 54px;
    }

    .intro-title p{
        width: 274px;
       height: 96px;
       height: 96px;
       margin-left: 15px;
    }

    .btn-style{
        width: 10.56rem;
        height: 3.375;
        margin-left: 15px;
    }
    
    .download-btn{
        width: 10.56rem;
        height: 3.375rem;
        box-sizing: border-box;
        padding: 16px 20px 16px 20px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 42px;
       font-size: 18px;
        
    }
    
    .club{
        display: none;
    }
    
    .body-builder-image{
        width: 22.0625rem;
        height: 36.75;
        padding: 20px;
        background: url(88);
    }

    .btn-1{
         width: 10.32rem;
         height: 5.3rem;
         left: 224.2px;
         top: 78.6px;
         font-size: 12.24px;
         backdrop-filter: blur(15.12px);
         background: rgba(255, 255, 255, 0.1);
    }

    .btn-2{
        width: 10.32rem;
        height: 4.84rem;
        left: 15px;
        top: 340px;
        margin-top: 10px;
        font-size: 15px;
    }

    .habit-section{
        max-width: 100%;
        margin-top: 10px;
    }
    .habit-description{
        width: 100%;
       height: 124px;
       display: flex;
       flex-direction: column;
        justify-content: center;
       align-items: center;
       text-align: center;
    
    }

    .habit-section-title{
        font-size: 32px;
    }


    .habit-paragraph{
        width: 316px;
        align-items: center;
        text-align: center;
        margin: 14px 0px 25px;
    }

    .image-container{
        flex-direction: column;
        align-items: center;
    }

    .run-section{
        margin: 10px auto 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 21.75rem;
        height: 33.187rem;
    }

     .run-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 54px;
        margin-left: 42px;
        
     }
   
     
     .run-description{
        flex-direction: column;
        display: flex;
        
     }
    .run-title{
        width: 17.937rem;
        height: 4.75rem;
        color: rgb(255, 255, 255);
        font-family: Inter;
       font-size: 32px;
        font-weight: 900;
        line-height: 120%;
         margin-left: 55px;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .run-paragraph{
        color: rgba(255, 255, 255, 0.5);
       font-family: Inter;
          font-size: 14px;
         font-weight: 400;
         margin-left: 55px;
         width: 287px;
          height: 96px;
         
    }

    .run-img{
        width: 21.875rem;
       height: 12.5rem;
    }

    
    
    
    /* BMI section */
    
    .bmi-heading{
        width: 22rem;
        height: 7.75rem;
    }
    .bmi-title{
        width: 14.7rem;
        height: 2.3rem;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 14px 0px;
        font-size: 32px;
    }
    .bmi-paragraph{
        width: 22rem;
        height: 4.5rem;
        justify-content: flex-start;
          align-items: flex-start;
          margin: 14px 0px;
    }

    .bmi-calculator{
        max-width: 100%;
        margin: 0px auto 50px;
        height: 48.25rem;
        flex-direction: column;
        margin-top: 7px;
       

    }

    .calculator-title{
        width: 15rem;
        height: 2rem;
        margin: 10px 0px 15px 9px;
        font-size: 20px;
    }

    table{
        width: 20.375rem;
        height: 13.5rem;
        margin: 5px 0px 5px 9px;
    }

    .calculator-form{
        width: 22.125rem;
        height: 24.68rem;
    }
    
    .form-title{
        width: 12.43rem;
        height: 2rem;
        font-size: 20px;
        margin: 5px 5px 3px 7px;
    }
    .form-paragraph{
        width: 21rem;
        height: 4.5rem;
        font-size: 16px;
    }

    #height,#weight,#age{
        width: 8.3rem;
        height: 2.3rem;
    }

      #options{
        width: 20rem;
        height: 3.3rem;
    }

    #activity{
        width: 24.7rem;
        height: 3rem;
    }
   .calculate-btn{
    width: 14rem;
    height: 3.3rem;
   }

   .height-weight-div{
    display: flex;
    margin: 0px;
   }

   .age-sex-div{
    width: 25.4rem;
    display: flex;
    margin: 0px;
   }



   

   /* Team members section */
   
   .team-heading{
    width: 23.769rem;
    height: 7.75rem;
   }

   .team-title{
    width: 16rem;
    height: 2.375rem;
    font-size: 32px;
   }

   .team-paragraph{
     width: 19.3rem;
     height: 4.5rem;
     font-size: 14px;
   }

   .hide-image{
    display: none;
   }

   .team-image-container{
    max-width: 100%;
    margin: 0px auto 10px;
    height: 75.25rem;
    padding: 25px;
    
   }
   .image-content-1{
    flex-direction: column;
   }
   .image-content-2{
    flex-direction: column;
   }

   .team-image{
    width: 19rem;
    height: 17rem;
   }

   .change-position-1{
    position: absolute;
    left: -161px;
    top: 307px;
   }

   .child-position-1{
    width: 15rem;
    height: 10rem;
    top: 535px;
    left: -135px;
    
   }
   
   .child-position-3{
    top: 820px;
    left: -135px;
   }
   .child-position-2{
    width: 15rem;
    height: 10rem;
    left: -135px;
    top: 225px;
       }
   .change-position-2{
    position: absolute;
    left: -161px;
    top: -6px;
   }
   .change-position-3{
    position: absolute;
    left: -161px;
    top: 600px;
   }
   .child-position-4{
         top: 225px;
   }
   .parent-title{
    font-size: 16px;
    width: 11rem;
    
  }

  .parent-paragraph{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    width: 7rem;
    font-weight: 700;
  }
    




  /* Footer Section */

  .footer-section{
    margin: 21px auto 35px;
    height: 55rem;
  }

  .footer-div{
    width: 46.75rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start

  }

  .footer-heading{
    width: 19.81rem;
    height: 12.5rem;
  }

  .footer-title{
    width: 16rem;
    height: 5rem;
  }
  
  .footer-paragraph{
    width: 19rem;
    height: 6rem;
  }



}

